<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <div *ngIf='bool3' style="font-size: -webkit-xxx-large;margin:0 auto;margin-top: 150px">You need to login !</div>  
    <div *ngIf='bool4' class="block"> 

        <div *ngFor='let item of d'> 

                <div class="name">Login:{{item.login}}</div>
                <div class="name">Password:{{item.password}}</div><br><br>
                <div class="name">Name:{{item.name}}</div><br><br>

                <div *ngIf='bool2'>
                <button (click)='edit(item)' style="background: black;color: white">edit</button>
               <button (click)='delete(item)'style="margin-left: 22px;background: red;color:white">delete</button><br><hr>
        
               </div>  
               
        </div>
 
    </div>         

               <div class="edit" *ngIf='bool'>
                  <div> Login: <input type="text" [(ngModel)]='login'></div><br><hr>
                  <div>  Password: <input type="text" [(ngModel)]='password'></div><br><hr>
                  <div>  Name: <input type="text" [(ngModel)]='name'></div><br><hr>

 
              <button (click)='send()' style="background: black;color: white">Rename</button> 
               
              </div>

</body> 
</html> 
