form{
  background-color: #53dfc2;
}
.container-form {
    width: 360px;
    height: 640px;
    overflow: hidden;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 125px;
    padding-bottom: 30px;
    display: grid;
    background: #1A4D5E;
    -webkit-box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.29);
    box-shadow: 0px 5px 20px 6px rgba(0,0,0,0.29);
    font-family: Muli; 
    border-radius: 2%;
} 
body{
  background-color:black;
}
.form-title {
    width: 100%; 
    height: 90px;
    padding-top: 60px;
    text-align: center;
}
.container-input {

    width: 100%;
}
.container-btn {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
input[type=text] {
    width: 100%;
    height: 50px;
    margin-bottom: 24px;
    box-sizing: border-box;
    font-family: 'Muli';
    font-size: 16px;
    border: 1px solid transparent;
    background-color: #0E2D3F;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 60px;
    color: #fff;
  }
  input[type=text]:focus {
    border: 1px solid #fff;
  }
  /* .input-name{
    background-image: url('src/assets/icons/user.png');
  }

  .input-password{
    background-image: url('src/assets/icons/lock.png');
  } */
  .form-btn {
      width: 44%;
      border: 0px solid;
      color: whitesmoke;
      font-family: 'Muli';
      font-weight: 600;
      cursor: pointer;
      outline: none;
      background: linear-gradient(37deg, #53dfc2, #38c0c0 );
  }
  .form-link {
      height: 125px;
      padding-top: 150px;
      text-align: center;
  }
  h2 {
    color: #53dfc2;
  }       
  a {
      color: #53dfc2;
  }
  a:link {
    text-decoration: none;
  }
  a:visited {
    text-decoration: none;
  } 
  a:hover {
    text-decoration: underline;
    color: #1115CC;
  }
  a:active {
    text-decoration: underline;
    color: #1115CC;
  }
  form{
    margin-left: 35%;
    margin-top:7%;
  
  }
  