<div class="container">
        <app-animations></app-animations>
<!-- ==================================================================================================================== -->
       
        <div class="bloc"> 
            <div class="form-group" *ngIf='bool2'>
                    <input  class="form-control" placeholder="Type name here..." [(ngModel)]="item">
            </div>

            <div class="form-group" *ngIf='bool'>
                    <input  class="form-control" placeholder="Type name here..." [(ngModel)]="item" disabled>
            </div>
            <div *ngIf='bool' class="left"><button class="btn btn-primary" (click)="send()" disabled>Add new</button></div>
            <div *ngIf='bool2' class="left"><button class="btn btn-primary" (click)="send()" >Add new</button></div>
       </div>
 <!-- ==================================================================================================================== -->
    <div  *ngFor='let item of Array;' class="items">
                 
         <mat-list role="list">
             <button class="hov btn btn-success" (click)='add(item.items)'>{{item.items}}</button> 
         </mat-list>
           
           <div *ngIf='bool2'> <button class="btn btn-danger" (click)='delete(item.items)'>X</button></div>
           <div *ngIf='bool'> <button class="btn btn-danger" (click)='delete(item.items)' disabled>X</button></div>

    </div> 
<!-- ==================================================================================================================== -->

        
</div>
