.hov:hover{
 color:blue;
}
.container{
    border: 1px solid white;
    border-radius: 5%;
    padding: 50px;
    margin-top:70px 
}
.items{
    display: flex;
    justify-content: space-between;
}
.form-group{
    margin-left: -9%;  
}
.bloc{
    display: flex;margin:20px;justify-content: space-between
} 
.left{
    margin-right: -8%;
}
a{
    font-size: x-large;
}

small {
    font-size: 0.875rem;
    font-weight: normal;
  }
 